<div
  class="topSection pt-5"
  [ngStyle]="{ 'background-image': 'url(' + homeBannerPath + ')' }"
  alt="Homepage Art Banner"
>
  <div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="hero-content text-center">
      <h1 class="typed-lines fw-bold"></h1>
    </div>
  </div>
</div>
<div class="middleSection container-fluid">
  <div class="row h-100">
    <div class="col-12 col-lg-6 mb-3 mb-lg-0">
      <div
        class="middleSectionText h-100 mx-auto d-flex flex-column justify-content-center align-items-center"
      >
        <h2 class="mb-3">{{ "HOME.TITLE" | translate }}</h2>
        <h4 class="mb-3">{{ "HOME.SUBTITLE" | translate }}</h4>
        <div class="mb-3 mb-lg-0">
          <app-animated-button
            type="link"
            [routerLink]="['info']"
            [text]="'HOME.FIND_OUT_MORE' | translate"
          ></app-animated-button>
        </div>
      </div>
    </div>
    <div
      class="col-12 col-lg-6 d-flex justify-content-center align-items-center"
    >
      <img [src]="homeArtPath" alt="Homepage Art Image" />
    </div>
  </div>
</div>
<div class="contentSection container-fluid d-flex flex-column py-2">
  <div class="d-flex justify-content-center mb-5">
    <app-animated-button
            type="link"
            [routerLink]="['projects']"
            [text]="'PROJECT.TITLE' | translate"
          ></app-animated-button>
  </div>

  <!-- CAROUSEL -->
  <app-carousel
    [projects]="projects"
    [imageLoading]="imageLoading"
  ></app-carousel>
</div>
<div class="middleSection container-fluid">
  <div class="row h-100">
    <div class="col-12 col-lg-6 mb-3 mb-lg-0 order-2">
      <div
        class="middleSectionText h-100 mx-auto d-flex flex-column justify-content-center align-items-center"
      >
        <h2 class="mb-3">Elena Franconi</h2>
        <p class="mb-3">
          {{ "HOME.BIO" | translate }}
        </p>
        <div>
          <app-animated-button
            type="link"
            [routerLink]="['bio']"
            [text]="'HOME.FIND_OUT_MORE' | translate"
          ></app-animated-button>
        </div>
      </div>
    </div>
    <div
      class="col-12 col-lg-6 d-flex justify-content-center align-items-center order-1 mb-3 mb-lg-0"
    >
      <img [src]="homeElenaFranconiPath" alt="Homepage Elena Franconi Image" />
    </div>
  </div>
</div>
<div class="contact-section container-fluid">
  <div class="row row-cols-1 row-cols-md-2 align-items-center">
    <div class="order-first order-md-last mb-5 mb-md-0">
      <div class="social-icons d-flex gap-3 justify-content-center">
        <a
          href="https://facebook.com/elena.franconi1"
          target="_blank"
          class="social-icon d-flex align-items-center justify-content-center"
        >
          <i class="fab fa-facebook-f"></i>
        </a>
        <a
          href="https://www.instagram.com/elena_francon/"
          target="_blank"
          class="social-icon d-flex align-items-center justify-content-center"
        >
          <i class="fab fa-instagram"></i>
        </a>
        <a
          href="https://www.youtube.com/@elenafranconi"
          target="_blank"
          class="social-icon d-flex align-items-center justify-content-center"
        >
          <i class="fab fa-youtube"></i>
        </a>
        <a
          href="https://t.me/elenafranconi"
          target="_blank"
          class="social-icon d-flex align-items-center justify-content-center"
        >
          <i class="fab fa-telegram-plane"></i>
        </a>
      </div>
    </div>
    <div class="order-last order-md-first d-flex justify-content-center">
      <app-animated-button
        type="link"
        [routerLink]="['/contacts']"
        text="{{ 'BIO.CONTACT_ME' | translate }}"
      ></app-animated-button>
    </div>
  </div>
</div>
