<div
  class="topSection pt-5"
  [ngStyle]="{ 'background-image': 'url(' + homeBannerPath + ')' }"
  alt="Homepage Art Banner"
>
  <div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="hero-content text-center">
      <h1 class="typed-lines fw-bold"></h1>
    </div>
  </div>
</div>
<div class="middleSection container-fluid">
  <div class="row h-100">
    <div class="col-12 col-lg-6 mb-3 mb-lg-0">
      <div
        class="middleSectionText h-100 mx-auto d-flex flex-column justify-content-center align-items-center"
      >
        <h2 class="mb-3">{{ "HOME.TITLE" | translate }}</h2>
        <h4 class="mb-3">{{ "HOME.SUBTITLE" | translate }}</h4>
        <button type="button" class="btn default-button mb-3 mb-lg-0" [routerLink]="['info']">{{ "HOME.FIND_OUT_MORE" | translate }}</button>
      </div>
    </div>
    <div
      class="col-12 col-lg-6 d-flex justify-content-center align-items-center"
    >
      <img [src]="homeArtPath" alt="Homepage Art Image" />
    </div>
  </div>
</div>
<div class="contentSection container-fluid d-flex flex-column py-2">
  <h2 class="text-center mb-4">
    <a [routerLink]="['/projects']" class="fw-medium standardGray">{{ "PROJECT.TITLE" | translate }}</a>
  </h2>

  <!-- CAROUSEL -->
  <div
    class="custom-carousel position-relative flex-grow-1"
    *ngIf="projects.length > 0"
  >
    <div class="carousel-track-container overflow-hidden">
      <div
        class="carousel-track d-flex"
        [style.transform]="
          'translateX(-' + currentSlide * cardWidthPercentage + '%)'
        "
      >
        <div
          class="carousel-card flex-shrink-0"
          *ngFor="let project of projects; let i = index"
        >
          <app-project-card [project]="project" [isImageLoading]="imageLoading[i]" [truncateDescription]="true"></app-project-card>
        </div>
      </div>
    </div>

    <!-- CAROUSEL CONTROL -->
    <button
      class="carousel-btn carousel-prev"
      (click)="prevSlide()"
      [disabled]="currentSlide === 0"
    >
      <i class="fas fa-chevron-left"></i>
    </button>
    <button
      class="carousel-btn carousel-next"
      (click)="nextSlide()"
      [disabled]="currentSlide >= maxSlides - 1"
    >
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</div>
<div class="middleSection container-fluid">
  <div class="row h-100">
    <div class="col-12 col-lg-6 mb-3 mb-lg-0 order-2">
      <div
        class="middleSectionText h-100 mx-auto d-flex flex-column justify-content-center align-items-center"
      >
        <h2 class="mb-3">Elena Franconi</h2>
        <p class="mb-3">
          {{ "HOME.BIO" | translate }}
        </p>
        <button type="button" class="btn default-button" [routerLink]="['bio']">Scopri di più</button>
      </div>
    </div>
    <div
      class="col-12 col-lg-6 d-flex justify-content-center align-items-center order-1 mb-3 mb-lg-0"
    >
      <img [src]="homeElenaFranconiPath" alt="Homepage Elena Franconi Image" />
    </div>
  </div>
</div>

<!-- Toast Container -->
<div class="toast-container">
  <ngb-toast
    *ngIf="successToast"
    class="successToast"
    [autohide]="true"
    [delay]="5000"
    (hidden)="chiudiToast()"
  >
    <div class="toast-header">
      <h6 class="me-auto mb-0">{{ toastMessage }}</h6>
      <button type="button" class="btn-close" (click)="chiudiToast()"></button>
    </div>
  </ngb-toast>

  <ngb-toast
    *ngIf="errorToast"
    class="errorToast"
    [autohide]="true"
    [delay]="5000"
    (hidden)="chiudiToast()"
  >
    <div class="toast-header">
      <h6 class="me-auto mb-0">{{ toastMessage }}</h6>
      <button type="button" class="btn-close" (click)="chiudiToast()"></button>
    </div>
  </ngb-toast>
</div>
