<div class="container-fluid py-5 d-flex flex-column justify-content-center align-items-center token-container">
  <div class="text-center my-3">
    <h2 class="mb-3">{{ "PASSWORD.RESET.TITLE" | translate }}</h2>
    <h5>{{ "PASSWORD.RESET.SUBTITLE" | translate }}</h5>
  </div>
  <div class="card mx-5 border-0">
    <div class="card-body">
      <form class="card-text" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3">
          <input
            [type]="showPassword ? 'text' : 'password'"
            name="password"
            id="password"
            class="form-control"
            placeholder="{{ 'PASSWORD.RESET.NEW_PASSWORD' | translate }}"
            formControlName="password"
            required
          />
          <button type="button" class="btn" (click)="togglePasswordVisibility()">
            <span [innerHTML]="passwordIcon"></span>
          </button>
        </div>
        @if (resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched) {
          <div class="text-danger">
            @if (resetPasswordForm.get('password')?.errors?.['required']) {
              <div>{{ 'PASSWORD.RESET.REQUIRED' | translate }}</div>
            }
            @if (resetPasswordForm.get('password')?.errors?.['minlength']) {
              <div>{{ 'PASSWORD.RESET.MIN_LENGTH' | translate }}</div>
            }
            @if (resetPasswordForm.get('password')?.errors?.['maxlength']) {
              <div>{{ 'PASSWORD.RESET.MAX_LENGTH' | translate }}</div>
            }
            @if (resetPasswordForm.get('password')?.errors?.['pattern']) {
              <div>{{ 'PASSWORD.RESET.PATTERN' | translate }}</div>
            }
          </div>
        }

        <div class="input-group mb-3">
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            name="confirmPassword"
            id="confirmPassword"
            class="form-control"
            placeholder="{{ 'PASSWORD.RESET.CONFIRM_PASSWORD' | translate }}"
            formControlName="confirmPassword"
            required
          />
          <button type="button" class="btn" (click)="toggleConfirmPasswordVisibility()">
            <span [innerHTML]="confirmPasswordIcon"></span>
          </button>
        </div>
        @if (resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched) {
          <div class="text-danger">
            @if (resetPasswordForm.get('confirmPassword')?.errors?.['required']) {
              <div>{{ 'PASSWORD.RESET.REQUIRED' | translate }}</div>
            }
          </div>
        }
        @if (resetPasswordForm.get('confirmPassword')?.touched && passwordMatchError) {
          <div class="text-danger">
            {{ 'PASSWORD.RESET.PASSWORD_MISMATCH' | translate }}
          </div>
        }

        <div class="d-flex justify-content-center">
          <button
            type="submit"
            class="btn default-button"
            [disabled]="resetPasswordForm.invalid || passwordMatchError"
          >
            {{ "PASSWORD.RESET.RESET" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
