@use 'variables' as *;

.footer {
  background-color: $brown;
  color: $white;
  a {
    color: $white;
  }

  min-height: 3em;
  display: flex;
  align-items: center;
}

.private-area {
  @media (max-width: 576px) {
    font-size: small;
  }
}
