@import 'variables';
@import 'typed';

.bioImageContainer,
.bioTextContainer {
  width: 100%;
}

.bioTextContainer p,
.bioTextContainer ul,
.bioTextContainer > div {
  text-align: justify;
  width: 75%;
  margin: 0 auto;
  line-height: 2;
}

.bioTextContainer ul {
  padding-left: 0;
  h6 {
    margin-bottom: 0;
    font-weight: bold;
  }

  li {
    font-size: medium;
  }
}
.bioSubtitleContainer {
  width: 75%;
  margin: 3em auto;
  position: relative;

  h2 {
    color: $dark-cyan;
  }

  h4 {
    line-height: 1.7;
    padding: 1em 0;
    margin: 0;
  }

  img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: auto;
    max-height: calc(100vh - $navbar-height);
    max-width: 100%;
  }
}

.section-divider {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid $light-cyan-transparent;
    padding-top: 1em;
}



.bioImage {
  display: block;
  margin: 0 auto;
  height: auto;
  width: auto;
  max-width: 75%;
  max-height: calc((100vh - $navbar-height) * 0.80);
  object-fit: contain;
}

@media screen and (min-width: 768px) {

  .bioImageContainer,
  .bioTextContainer {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bioTextContainer p,
  .bioTextContainer ul {
    font-size: large;

    li {
      font-size: large;
    }
  }

  .bioImage {
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .bioTextContainer p,
  .bioTextContainer ul {
    width: 60%;
  }
  .bioTextContainer > div  {
    width: 65%;
  }
}

@media screen and (min-width: 1400px) {
  .bioSubtitleContainer {
    width: 60%;
  }
}


