<div class="container-fluid">
  <div class="bioSubtitleContainer">
    <h2 class="text-center fw-bold">Elena Franconi</h2>
    <h4 class="text-center">
      {{ "BIO.SUBTITLE" | translate }}
    </h4>
    <picture>
      <source
        [srcset]="this.staticAssetService.getAssetWebp('bio_banner', 0)"
        media="(max-width: 480px)"
        type="image/webp"
      />
      <source
        [srcset]="this.staticAssetService.getAssetWebp('bio_banner', 1)"
        media="(min-width: 481px) and (max-width: 768px)"
        type="image/webp"
      />
      <source
        [srcset]="this.staticAssetService.getAssetWebp('bio_banner', 2)"
        media="(min-width: 769px)"
        type="image/webp"
      />
      <img
        [src]="this.staticAssetService.getAssetFallback('bio_banner')"
        alt="Bio Art Banner"
      />
    </picture>
  </div>
  <div class="section-divider"></div>
  <div
    class="bioSectionContainer d-flex flex-column flex-md-row justify-content-around align-items-center py-5"
  >
    <div class="mb-5 mb-md-0 bioTextContainer">
      <p>
        {{ "BIO.SECTION_1" | translate }}
      </p>
    </div>
    <div class="bioImageContainer">
      <picture>
        <source
          [srcset]="this.staticAssetService.getAssetWebp('bio_art_1', 0)"
          media="(max-width: 480px)"
          type="image/webp"
        />
        <source
          [srcset]="this.staticAssetService.getAssetWebp('bio_art_1', 1)"
          media="(min-width: 481px) and (max-width: 768px)"
          type="image/webp"
        />
        <source
          [srcset]="this.staticAssetService.getAssetWebp('bio_art_1', 2)"
          media="(min-width: 769px)"
          type="image/webp"
        />
        <img
          [src]="this.staticAssetService.getAssetFallback('bio_art_1')"
          alt="Bio Art Image"
          class="bioImage"
        />
      </picture>
    </div>
  </div>
  <div class="section-divider"></div>
  <div
    class="bioSectionContainer d-flex flex-column flex-md-row-reverse justify-content-around align-items-center py-5"
  >
    <div class="mb-5 mb-md-0 bioTextContainer flex-column">
      <p class="mb-2">
        {{ "BIO.SECTION_2" | translate }}
      </p>
      <ul>
        <li>
          <h6>PULSATILLA</h6>
          {{ "BIO.SECTION_2_LIST_ITEM_1" | translate }}
        </li>
        <li>
          <h6>68x15 UNA QUESTIONE DI COSCIENZA</h6>
          {{ "BIO.SECTION_2_LIST_ITEM_2" | translate }}
        </li>
        <li>
          <h6>MOI pour TOI</h6>
          {{ "BIO.SECTION_2_LIST_ITEM_3" | translate }}
        </li>
        <li>
          <h6>COSTI QUEL CHE COSTI</h6>
          {{ "BIO.SECTION_2_LIST_ITEM_4" | translate }}
        </li>
        <li>
          <h6>IMPIEGO SICURO CERCASI</h6>
          {{ "BIO.SECTION_2_LIST_ITEM_5" | translate }}
        </li>
      </ul>
    </div>
    <div class="bioImageContainer">
      <picture>
        <source
          [srcset]="this.staticAssetService.getAssetWebp('bio_art_2', 0)"
          media="(max-width: 480px)"
          type="image/webp"
        />
        <source
          [srcset]="this.staticAssetService.getAssetWebp('bio_art_2', 1)"
          media="(min-width: 481px) and (max-width: 768px)"
          type="image/webp"
        />
        <source
          [srcset]="this.staticAssetService.getAssetWebp('bio_art_2', 2)"
          media="(min-width: 769px)"
          type="image/webp"
        />
        <img
          [src]="this.staticAssetService.getAssetFallback('bio_art_2')"
          alt="Bio Art Image"
          class="bioImage"
        />
      </picture>
    </div>
  </div>
  <div class="section-divider"></div>
  <div
    class="bioSectionContainer d-flex flex-column flex-md-row justify-content-around align-items-center py-5"
  >
    <div class="mb-5 mb-md-0 bioTextContainer flex-column">
      <p class="mb-5">
        {{ "BIO.SECTION_3" | translate }}
      </p>
      <div
        class="d-flex flex-column flex-sm-row flex-md-column flex-xl-row justify-content-around align-items-center"
      >
        <div class="mb-5 mb-sm-0 mb-md-5 mb-xl-0">
          <app-animated-button
            type="link"
            href="assets/cv/Elena_Franconi_CV.pdf"
            [download]="'Elena-Franconi-CV-IT.pdf'"
            text="{{ 'BIO.DOWNLOAD_CV' | translate }}"
          ></app-animated-button>
        </div>
        <div>
          <app-animated-button
            type="link"
            [routerLink]="['/contacts']"
            text="{{ 'BIO.CONTACT_ME' | translate }}"
          ></app-animated-button>
        </div>
      </div>
    </div>
    <div class="bioImageContainer">
      <picture>
        <source
          [srcset]="this.staticAssetService.getAssetWebp('bio_art_3', 0)"
          media="(max-width: 480px)"
          type="image/webp"
        />
        <source
          [srcset]="this.staticAssetService.getAssetWebp('bio_art_3', 1)"
          media="(min-width: 481px) and (max-width: 768px)"
          type="image/webp"
        />
        <source
          [srcset]="this.staticAssetService.getAssetWebp('bio_art_3', 2)"
          media="(min-width: 769px)"
          type="image/webp"
        />
        <img
          [src]="this.staticAssetService.getAssetFallback('bio_art_3')"
          alt="Bio Art Image"
          class="bioImage"
        />
      </picture>
    </div>
  </div>
</div>
