<nav class="navbar navbar-expand-lg">
  <div class="row align-items-center w-100 m-0">
    <div class="col-4 col-lg-3 order-2 order-lg-1 logoContainer">
      <a class="navbar-brand" routerLink="/">
        <img
          [src]="logoPath"
          alt="Art Logo"
          class="navbarIcon"
        />
      </a>
    </div>

    <div class="col-4 col-lg-6 order-1 order-lg-2 linkContainer">
      <button
        class="navbar-toggler custom-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggleHamburgerMenu()"
        [class.isActive]="isOpen"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse custom-navbar-collapse"
        id="navbarNav"
      >
        <ul
          class="navbar-nav d-flex justify-content-center justify-content-lg-evenly mx-2 mx-lg-0"
        >
          <li class="nav-item">
            <a
              [routerLink]="['/']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link navItem"
              (click)="toggleHamburgerMenu()"
            >
              HOME
            </a>
          </li>
          <li class="nav-item">
            <a
              [routerLink]="['/info']"
              routerLinkActive="active"
              class="nav-link navItem"
              (click)="toggleHamburgerMenu()"
            >
              INFO
            </a>
          </li>
          <li class="nav-item">
            <a
              [routerLink]="['/projects']"
              routerLinkActive="active"
              class="nav-link navItem"
              (click)="toggleHamburgerMenu()"
            >
              {{ 'NAVBAR.PROJECT' | translate }}
            </a>
          </li>
          <li class="nav-item">
            <a
              [routerLink]="['/bio']"
              routerLinkActive="active"
              class="nav-link navItem"
              (click)="toggleHamburgerMenu()"
            >
              BIO
            </a>
          </li>
          <li class="nav-item">
            <a
              [routerLink]="['/contacts']"
              routerLinkActive="active"
              class="nav-link navItem"
              (click)="toggleHamburgerMenu()"
            >
              {{ 'NAVBAR.CONTACT' | translate }}
            </a>
          </li>
          @if (user) {
           <li class="nav-item">
            <a
              [routerLink]="['/admin']"
              routerLinkActive="active"
              class="nav-link navItem"
              (click)="toggleHamburgerMenu()"
            >
              ADMIN
            </a>
          </li>
          }
        </ul>
      </div>
    </div>
    <div class="col-4 col-lg-3 order-3 privateContainer">
      <div class="d-flex flex-column">
        <div *ngIf="user" id="userLogged" class="d-flex align-items-center justify-content-center mb-2">
            <small class="d-none d-md-block pe-md-3 pb-1" >{{user.userTokenResponse.username}}</small>
            <div (click)="openModal()" (click)="closeHamburgerMenu()">
              <i class="fa-solid fa-user-circle fs-4 addCursor" ></i>
            </div>

          </div>
        <div class="d-flex align-items-center justify-content-center">
          <i
            class="fa-solid fa-globe me-1 d-none d-sm-block fs-5"
            aria-label="Language selector"
          ></i>
          <select
            name="languageSelect"
            id="languageSelect"
            (change)="onLanguageChange($event)"
            [value]="selectedLanguage"
            class="form-select languageSelect"
            (click)="closeHamburgerMenu()"
          >
            <option value="it">{{ isLargeScreen ? 'Italiano' : 'IT' }}</option>
            <option value="en">{{ isLargeScreen ? 'English' : 'EN' }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Navbar Modal -->
<ng-template #navbarModal>
  <div class="modal-header">
    <h1 class="modal-title fs-5 pt-1" id="navbarModalLabel">
      {{ "NAVBAR.MODAL.TITLE" | translate }} <br />
      {{ user?.userTokenResponse?.username }}
    </h1>
    <button
      type="button"
      class="btn-close ms-2"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>
  <div class="modal-body">
    <h2
      class="fs-5 addCursor addUnderline"
      [routerLink]="['/userpage']"
      (click)="closeModal()"
    >
      {{ "NAVBAR.MODAL.MY_ACCOUNT" | translate }}
    </h2>
    <hr />
    <h2
      class="fs-5 addCursor addUnderline text-danger"
      (click)="logout(); closeModal()"
    >
      Logout
    </h2>
  </div>
</ng-template>
