@use 'variables' as *;
.contact-container {
  height: calc(100vh - ($navbar-height + $footer-height-sm));
  @media (min-width: 768px) {
    height: calc(100vh - ($navbar-height + $footer-height-md));
  }
  @media (min-width: 1200px) {
    height: calc(100vh - ($navbar-height + $footer-height-lg));
  }
}

.contact-card {
  border-left: solid 1px $light-cyan-transparent;
  border-bottom: solid 1px $light-cyan-transparent;
  border-right: solid 1px $light-cyan-transparent;
  border-top: none;
  border-radius: 0%;
}

