@use 'variables' as *;
.contact-container {
  min-height: var(--content-height);
}

.contact-card {
  border-left: solid 1px $light-cyan-transparent;
  border-bottom: solid 1px $light-cyan-transparent;
  border-right: solid 1px $light-cyan-transparent;
  border-top: none;
  border-radius: 0%;
}

