@use 'variables' as *;

:host {
  display: block;
  width: 100%;
}

.project-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  .cover-image-container {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;

    .cover-image {
      max-width: 100%;
      max-height: calc(100vh - $navbar-height);
      height: auto;
      margin: 0 0 2em 0;
      cursor: pointer;
    }
  }

  .cover-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .project-title {
      color: $dark-gray;
      margin-bottom: 1em;
      text-align: center;
    }

    .project-description {
      font-size: 1.1em;
      margin-bottom: 20px;
      text-align: justify;
      width: 75%;
    }
  }
}
