<div class="container-fluid py-5">
  <!-- Project Title
  <h2 class="text-center">{{ 'PROJECT.TITLE' | translate }}</h2> -->
  <div *ngIf="projects.length > 0" class="text-center mb-3">
    <button
      type="button"
      class="btn default-button mb-3"
      (click)="showFilters = !showFilters"
    >
      {{ 'PROJECT.FILTER' | translate }}
    </button>

    <div
      class="d-flex flex-column flex-sm-row mb-3 justify-content-center align-items-center"
      *ngIf="showFilters"
    >
      <div class="selectContainer me-sm-3">
        <label for="selectedStatusFilter" class="ps-2">
          {{ "PROJECT.FILTER_BY_STATUS" | translate }}
        </label>
        <select
          id="selectedStatusFilter"
          class="form-select"
          [(ngModel)]="selectedStatusFilter"
          (change)="applyFilters()"
        >
          <option value="all">{{ "GENERIC.ALL" | translate }}</option>
          <option value="ONGOING">
            {{ "PROJECT.STATUS_ONGOING" | translate }}
          </option>
          <option value="UPCOMING">
            {{ "PROJECT.STATUS_UPCOMING" | translate }}
          </option>
          <option value="COMPLETED">
            {{ "PROJECT.STATUS_COMPLETED" | translate }}
          </option>
        </select>
      </div>
      <div class="selectContainer me-sm-3">
        <label for="selectedTypeFilter" class="ps-2">{{
          "PROJECT.FILTER_BY_TYPE" | translate
        }}</label>
        <select
          id="selectedTypeFilter"
          class="form-select"
          [(ngModel)]="selectedTypeFilter"
          (change)="applyFilters()"
        >
          <option value="all">{{ "GENERIC.ALL" | translate }}</option>
          <option value="Course">
            {{ "PROJECT.TYPE_COURSE" | translate }}
          </option>
          <option value="Event">{{ "PROJECT.TYPE_EVENT" | translate }}</option>
        </select>
      </div>
      <div class="selectContainer me-sm-3">
        <label for="selectedSortOrder" class="ps-2">{{
          "PROJECT.ORDER_BY_DATE" | translate
        }}</label>
        <select
          id="selectedSortOrder"
          class="form-select"
          [(ngModel)]="selectedSortOrder"
          (change)="applyFilters()"
        >
          <option value="default">{{ "PROJECT.NEWEST" | translate }}</option>
          <option value="reverse">{{ "PROJECT.OLDEST" | translate }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="filteredProjects.length > 0">
    <div
      class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-2"
      *ngFor="let project of filteredProjects; let i = index"
    >
      <app-project-card [project]="project" [isImageLoading]="imageLoading[i]" [truncateDescription]="true"></app-project-card>
    </div>
  </div>
</div>
