<div class="container-fluid py-5">
  @if (projects && projects.length > 0) {
  <app-project-filters (filtersChanged)="onFiltersChanged($event)"></app-project-filters>
  }

  @if (filteredProjects.length > 0) {
  <div class="row">
    @for (project of filteredProjects; track project.id; let i = $index) {
    <div
      class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-2"
    >
      <app-project-card
        [project]="project"
        [isImageLoading]="imageLoading[i]"
        [truncateDescription]="true"
      ></app-project-card>
    </div>
    }
  </div>
  }@else if (projects.length === 0) {
    <div class="alert alert-info alert-constrained text-center mt-4 mx-auto">
      <i class="fas fa-info-circle me-2"></i>
      {{ "PROJECT.NO_PROJECTS" | translate }}
    </div>
  } @else {
    <div class="alert alert-warning alert-constrained text-center mt-4 mx-auto">
      <i class="fas fa-filter me-2"></i>
      {{ "PROJECT.NO_PROJECTS_FILTER" | translate }}
    </div>
  }
</div>
