<div class="text-center mb-3">
  <button
    type="button"
    class="btn default-button mb-3"
    (click)="toggleFilters()"
  >
    {{ "PROJECT.FILTER" | translate }}
  </button>

  @if (showFilters) {
    <div
      class="d-flex flex-column flex-sm-row mb-3 justify-content-center align-items-center"
    >
      <div class="selectContainer me-sm-3">
        <label for="selectedStatusFilter" class="ps-2">
          {{ "PROJECT.FILTER_BY_STATUS" | translate }}
        </label>
        <select
          id="selectedStatusFilter"
          class="form-select"
          [(ngModel)]="selectedStatusFilter"
          (change)="onFilterChange()"
        >
          <option value="all">{{ "GENERIC.ALL" | translate }}</option>
          <option value="ONGOING">
            {{ "PROJECT.STATUS_ONGOING" | translate }}
          </option>
          <option value="UPCOMING">
            {{ "PROJECT.STATUS_UPCOMING" | translate }}
          </option>
          <option value="COMPLETED">
            {{ "PROJECT.STATUS_COMPLETED" | translate }}
          </option>
        </select>
      </div>
      <div class="selectContainer me-sm-3">
        <label for="selectedTypeFilter" class="ps-2">{{
          "PROJECT.FILTER_BY_TYPE" | translate
        }}</label>
        <select
          id="selectedTypeFilter"
          class="form-select"
          [(ngModel)]="selectedTypeFilter"
          (change)="onFilterChange()"
        >
          <option value="all">{{ "GENERIC.ALL" | translate }}</option>
          <option value="Course">
            {{ "PROJECT.TYPE_COURSE" | translate }}
          </option>
          <option value="Event">{{ "PROJECT.TYPE_EVENT" | translate }}</option>
        </select>
      </div>
      @if (showArchiveFilter) {
        <div class="selectContainer me-sm-3">
          <label for="selectedArchiveFilter" class="ps-2">{{
            "PROJECT.FILTER_BY_ARCHIVED" | translate
          }}</label>
          <select
            id="selectedArchiveFilter"
            class="form-select"
            [(ngModel)]="selectedArchiveFilter"
            (change)="onFilterChange()"
          >
            <option value="all">{{ "GENERIC.ALL" | translate }}</option>
            <option value="active">{{ "PROJECT.ACTIVE" | translate }}</option>
            <option value="archived">
              {{ "PROJECT.ARCHIVED" | translate }}
            </option>
          </select>
        </div>
      }
      <div class="selectContainer me-sm-3 mb-2 mb-sm-0">
        <label for="selectedSortOrder" class="ps-2">{{
          "PROJECT.ORDER_BY_DATE" | translate
        }}</label>
        <select
          id="selectedSortOrder"
          class="form-select"
          [(ngModel)]="selectedSortOrder"
          (change)="onFilterChange()"
        >
          <option value="default">{{ "PROJECT.NEWEST" | translate }}</option>
          <option value="reverse">{{ "PROJECT.OLDEST" | translate }}</option>
        </select>
      </div>
        <button
          type="button"
          class="btn danger-button mt-sm-4"
          (click)="clearFilters()"
          title="{{ 'PROJECT.CLEAR_FILTERS' | translate }}"
        >
          <i class="fas fa-times"></i>
        </button>
    </div>
  }
</div>
