@if (event$ | async; as event) {
<div class="container-fluid d-flex flex-column align-items-center pb-4">
  <app-project-cover
    [coverImagePath]="event.coverImagePath"
    [title]="event.title"
    [description]="event.description"
    (imageClick)="lightbox.openAt(0)"
  >
  </app-project-cover>

  <div class="w-75 mb-4">
    <div class="details row">
      <div class="col-12 col-md-6 mb-3 mb-md-0 text-md-start">
        <h5>{{ "PROJECT.TYPE_EVENT" | translate }}</h5>
        <p>
          <strong>{{ "PROJECT.DETAILS.LOCATION" | translate }}</strong> {{
          event.location }}
        </p>
        <p>
          <strong>{{ "PROJECT.DETAILS.MAX_PARTICIPANTS" | translate }}</strong>
          {{ calculateMaxParticipants(event) }}
        </p>
        @if (event.contentStatus != 'COMPLETED') {
        <p>{{ "PROJECT.DETAILS.FREE_PARTICIPATION" | translate }}</p>
        <p>{{ "PROJECT.DETAILS.REGISTRATION_REQUIRED" | translate }}</p>
        } @if (event.linkedCourseId) {
        <a [routerLink]="['/projects', 'courses', event.linkedCourseId]"
          >{{ "PROJECT.DETAILS.VIEW_COURSE" | translate }}</a
        >
        }
      </div>
      <div class="col-12 col-md-6 text-md-end">
        <h6 class="mb-0">
          {{ (event.eventDateSlots.length === 1 ? "PROJECT.DETAILS.DATE_SLOT" :
          "PROJECT.DETAILS.DATE_SLOTS") | translate }}
        </h6>
        @for (eventSlot of event.eventDateSlots; track eventSlot; let i =
        $index) {
        <p>{{ eventSlot.date| date: "dd/MM/yyyy HH:mm" }}</p>
        } @if (isStaticMode && event.contentStatus != 'COMPLETED'){
        <p>{{ "PROJECT.DETAILS.FOR_INFO_AND_REGISTRATIONS" | translate }}</p>
        <a
          href="mailto: Art Natura Teatro <info@artnaturateatro.it>?subject=Info e Iscrizione Corso {{event.title}}"
          class="email-anchor"
          >info&#64;artnaturateatro.it</a
        >
        } @else if (event.contentStatus != 'COMPLETED') {
        <app-animated-button
          type="link"
          [routerLink]="['']"
          [text]="'PROJECT.DETAILS.SOON_AVAILABLE' | translate"
        ></app-animated-button>
        }
      </div>
    </div>
  </div>

  <app-project-gallery [galleryItems]="_galleryItems"> </app-project-gallery>

  <app-project-files
    [filePaths]="event.filePaths"
    (fileClick)="openDownloadModal($event.file, $event.fileName)"
  >
  </app-project-files>

  <app-project-info
    [informations]="event.informations"
    [googleMapsLink]="event.googleMapsLink"
  >
  </app-project-info>

  <app-project-press-reviews
    [pressReviews]="event.pressReviews"
    (reviewClick)="openUrl($event)"
  >
  </app-project-press-reviews>
</div>
}
