@import 'variables';

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-color: $white;
  color: $dark-gray;
  font-family: "Noto Sans", sans-serif;
  flex: 1;
}

p {
  margin: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}

input {
  background-color: $white !important;
  margin-bottom: 1em;
  border: none !important;
  border-bottom: solid 1px !important;
  border-radius: 0 !important;
  border-color: #1A1A1A !important;

  &:focus {
      background-color: $white !important;
  }
}

a {
  text-decoration: none;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.2em;
  }
}

textarea {
  resize: none;
  overflow-y: hidden;
  margin-bottom: 1em;
  min-height: 2em;
}

option {
  background-color: $white;
}

li {
  list-style-type: none;
  font-size: large;
  margin-bottom: 0.5em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}


.default-button {
  background-color: $dark-cyan;
  color: $white;
  border: none;
  transition: all 0.2s !important;
  width: fit-content;
  height: fit-content;
  &:disabled {
      background-color: $light-cyan;
      color: $white;
  }
  &:hover {
      background-color: $dark-cyan;
      color: $white;
      text-decoration: underline;
      text-decoration-thickness: 0.1em;
      text-underline-offset: 0.2em;
  }
}

.mySelect {
  background-color: $white;
  color: $dark-gray;
  border: none;
  width: auto;
  cursor: pointer;
}



.smallIcon {
  width: 1.5em;
}

.icon {
  width: 2em;
}

.bigIcon {
  width: 6em;
}

.modal-dialog {
  position: fixed !important;
  top: 6em;
  right: 1em;
}
.modal-content {
  background-color: $white;
  color: $dark-cyan;
}



.textFormat {
  white-space: pre-line;
}



.toast-container {
  position: fixed;
  top: $navbar-height;
  right: 1em;
  z-index: 100;
  width: auto;
}
.successToast {
  background-color: $dark-cyan;

  .toast-header {
    background-color: $dark-cyan;

    h6 {
      color: $white;
    }
  }
}

.errorToast {
  background-color: #f36464;

  .toast-header {
    background-color: #f36464;

    h6 {
      color: $white;
    }
  }
}

.infoToast {
  background-color: $light-cyan;

  .toast-header {
    background-color: $light-cyan;

    h6 {
      color: $dark-gray;
    }
  }
}

.social-icons {
  a {
    background-color: $dark-cyan;
    color: white;
    font-size: 1.5em;
    transition: color 0.3s ease;

    &:hover {
      background-color: $light-cyan;
    }
  }
}
.social-icon {
  width: 2em;
  height: 2em;
  border-radius: 10%;
}
