@import 'variables';
.token-container {
  height: calc(100vh - ($navbar-height + $footer-height-sm));
  @media (min-width: 768px) {
    height: calc(100vh - ($navbar-height + $footer-height-md));
  }
  @media (min-width: 1200px) {
    height: calc(100vh - ($navbar-height + $footer-height-lg));
  }
}
.emailInput {
  width: 80%;
  @media (min-width: 576px) {
    width: 60%;
  }
  @media (min-width: 768px) {
    width: 40%;

  }
  @media (min-width: 1200px) {
    width: 30%;
  }
}
