// ===== COLOR PALETTE =====
$white: white;
$dark-gray: rgb(33, 43, 49);
$dark-cyan: rgb(64, 176, 196);
$light-cyan: rgb(127, 203, 216);
$light-cyan-transparent: rgba(127, 203, 216, 0.2);
$brown: rgb(142, 64, 15);

// DIMENSION VARIABLES
$navbar-height: 172.13px;
