// ===== COLOR PALETTE =====
$white: white;
$dark-gray: rgb(33, 43, 49);
$dark-cyan: rgb(64, 176, 196);
$light-cyan: rgb(127, 203, 216);
$light-cyan-transparent: rgba(127, 203, 216, 0.2);
$brown: rgb(142, 64, 15);
$light-green: rgba(93, 212, 121, 0.95);
$light-yellow: rgb(255, 218, 108, 0.95);
$light-red: rgb(243, 100, 100, 0.95);

// DIMENSION VARIABLES

// Navbar height
$navbar-height: 172.13px;

// Footer heights for breakpoints
$footer-height-default: 127px;  // < 372px
$footer-height-372: 112px;      // >= 372px
$footer-height-393: 88px;       // >= 393px
$footer-height-576: 80px;       // >= 576px (sm)
$footer-height-992: 48px;       // >= 992px (lg)

// Admin Navbar heights for breakpoints
$admin-navbar-height-default: 174.17px;  // < 416px
$admin-navbar-height-416: 112.56px;      // >= 416px
$admin-navbar-height-769: 89px;          // >= 769px

// Home banner paths
$home-banner-1920: '/assets/images/art_1_banner_1920.webp';
$home-banner-1440: '/assets/images/art_1_banner_1440.webp';
$home-banner-1000: '/assets/images/art_1_banner_1000.webp';
$home-banner-768: '/assets/images/art_1_banner_768.webp';
$home-banner-fallback: '/assets/images/art_1_banner.jpeg';
