<ng-container *ngIf="routerLink; else plainCard">
  <a [routerLink]="routerLink" class="text-decoration-none">
    <div class="card h-100 position-relative">
      <div class="card-img-container">
        <div
          *ngIf="isImageLoading"
          class="h-100 d-flex justify-content-center align-items-center"
        >
          <app-image-loader></app-image-loader>
        </div>
        <img
          *ngIf="!isImageLoading"
          [src]="project.coverImagePath"
          class="card-img-top"
          alt="Project Cover Image"
        />

        <span
          *ngIf="project.contentStatus === 'ONGOING'"
          class="status-badge-overlay ongoing"
        >
          <i class="fas fa-tree me-1"></i>{{ "PROJECT.STATUS_ONGOING" | translate }}
        </span>
        <span
          *ngIf="project.contentStatus === 'UPCOMING'"
          class="status-badge-overlay upcoming"
        >
          <i class="fas fa-seedling me-1"></i>{{ "PROJECT.STATUS_UPCOMING" | translate }}
        </span>
      </div>
      <div class="card-body text-center">
        <div class="card-title">{{ project.title }}</div>
        <div class="card-text">{{ truncateDescription ? truncateText(project.description) : project.description }}</div>
      </div>
      <div
        class="card-footer d-flex align-items-center justify-content-center text-center"
      >
        <div class="w-50">
          <ng-container *ngIf="project.contentType === 'Event'">
            <ng-container *ngIf="getEventDatesDisplay(project.eventDates) as display">
              <div>{{display.dates[0] | date : "dd/MM/yyyy"}}</div>
              <div *ngIf="display.showDots" class="text-center my-0">…</div>
              <div *ngIf="display.dates.length > 1">
                {{display.dates[display.dates.length - 1] | date : "dd/MM/yyyy"}}
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="project.contentType === 'Course'">
            <div class="row mx-0">
              <div class="col-5 text-end ps-0 pe-2">
                {{ "GENERIC.FROM" | translate }}
              </div>
              <div class="col-7 text-start px-0">
                {{ project.dateFrom | date : "dd/MM/yyyy" }}
              </div>
            </div>
            <div class="row mx-0">
              <div class="col-5 text-end ps-0 pe-2">
                {{ "GENERIC.TO" | translate }}
              </div>
              <div class="col-7 text-start px-0">
                {{ project.dateTo | date : "dd/MM/yyyy" }}
              </div>
            </div>
          </ng-container>
        </div>
        <div class="w-50">
          <div>{{ project.location }}</div>
        </div>
      </div>
    </div>
  </a>
</ng-container>
<ng-template #plainCard>
  <div class="card h-100 position-relative">
    <div class="card-img-container">
      <div
        *ngIf="isImageLoading"
        class="h-100 d-flex justify-content-center align-items-center"
      >
        <app-image-loader></app-image-loader>
      </div>
      <img
        *ngIf="!isImageLoading"
        [src]="project.coverImagePath"
        class="card-img-top"
        alt="Project Cover Image"
      />

      <span
        *ngIf="project.contentStatus === 'ONGOING'"
        class="status-badge-overlay ongoing"
      >
        <i class="fas fa-tree me-1"></i>{{ "PROJECT.STATUS_ONGOING" | translate }}
      </span>
      <span
        *ngIf="project.contentStatus === 'UPCOMING'"
        class="status-badge-overlay upcoming"
      >
        <i class="fas fa-seedling me-1"></i>{{ "PROJECT.STATUS_UPCOMING" | translate }}
      </span>
    </div>
    <div class="card-body text-center">
      <div class="card-title">{{ project.title }}</div>
      <div class="card-text">{{ truncateDescription ? truncateText(project.description) : project.description }}</div>
    </div>
    <div
      class="card-footer d-flex align-items-center justify-content-center text-center"
    >
      <div class="w-50">
        <ng-container *ngIf="project.contentType === 'Event'">
          <ng-container *ngIf="getEventDatesDisplay(project.eventDates) as display">
            <div>{{display.dates[0] | date : "dd/MM/yyyy"}}</div>
            <div *ngIf="display.showDots" class="text-center my-0">…</div>
            <div *ngIf="display.dates.length > 1">
              {{display.dates[display.dates.length - 1] | date : "dd/MM/yyyy"}}
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="project.contentType === 'Course'">
          <div class="row mx-0">
            <div class="col-3 text-end ps-0 pe-2">
              {{ "GENERIC.FROM" | translate }}
            </div>
            <div class="col-9 text-start px-0">
              {{ project.dateFrom | date : "dd/MM/yyyy" }}
            </div>
          </div>
          <div class="row mx-0">
            <div class="col-3 text-end ps-0 pe-2">
              {{ "GENERIC.TO" | translate }}
            </div>
            <div class="col-9 text-start px-0">
              {{ project.dateTo | date : "dd/MM/yyyy" }}
            </div>
          </div>
        </ng-container>
      </div>
      <div class="w-50">
        <div>{{ project.location }}</div>
      </div>
    </div>
  </div>
</ng-template>
