<div class="modal-header">
  <h5 class="modal-title">Download File</h5>
  <button type="button" class="btn-close" (click)="activeModal.dismiss()" aria-label="Close"></button>
</div>
<div class="modal-body">
  <p class="text-black">Vuoi scaricare il file <strong>{{ fileName }}</strong>?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn danger-button" (click)="activeModal.dismiss()">Annulla</button>
  <button type="button" class="btn default-button" (click)="downloadFile()">Scarica</button>
</div>
