@use 'variables' as *;

:host {
  display: block;
  width: 100%;
}

.gallery {
  margin-top: 20px;
  width: 100%;

  .gallery-item {
    border-radius: 8px;
    transition: transform 0.5s ease;
    width: auto;
    height: calc((100vh - $navbar-height)/2);
    max-width: 100%;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      transform: scale(1.02);
    }

    video {
      max-width: 100%;
    }
  }

}
