// COLOR VARIABLES
$bg-primary: rgb(142, 64, 15);
$text-primary: rgb(127, 203, 216);

.footer {
  background-color: $bg-primary;
  color: $text-primary;
  a {
    color: $text-primary;
  }

  min-height: 3em;
  display: flex;
  align-items: center;
}

