<div class="container-fluid">
  <div class="hero-content text-center">
    <h2 class="typed-lines fw-bold"></h2>
  </div>
  <div class="infoSubtitleContainer">
    <h4>
      <span class="fw-bold">{{ "HOME.TITLE" | translate }}</span>
      <span [innerHTML]="'INFO.SUBTITLE' | translate | appNewlineToBr"></span>
    </h4>
    <picture>
      <source
        [srcset]="this.staticAssetService.getAssetWebp('info_banner', 0)"
        media="(max-width: 480px)"
        type="image/webp"
      />
      <source
        [srcset]="this.staticAssetService.getAssetWebp('info_banner', 1)"
        media="(min-width: 481px) and (max-width: 768px)"
        type="image/webp"
      />
      <source
        [srcset]="this.staticAssetService.getAssetWebp('info_banner', 2)"
        media="(min-width: 769px)"
        type="image/webp"
      />
      <img
        [src]="this.staticAssetService.getAssetFallback('info_banner')"
        alt="Info Art Banner"
        class="mb-3"
      />
    </picture>
    <h4>
      <span class="fw-bold">{{ "HOME.TITLE" | translate }}</span>
      <span [innerHTML]="'INFO.SUBTITLE_2' | translate | appNewlineToBr"></span>
    </h4>
  </div>
  <div class="section-divider"></div>
  <div
    class="infoSectionContainer d-flex flex-column flex-md-row justify-content-around align-items-center py-5"
  >
    <div class="mb-5 mb-md-0 infoTextContainer text-md-end">
      <p>
        {{ "HOME.TITLE" | translate }}
        <span
          class="fst-italic"
          [innerHTML]="'INFO.SECTION_1' | translate | appNewlineToBr"
        ></span>
      </p>
    </div>
    <div class="infoImageContainer">
      <picture>
        <source
          [srcset]="this.staticAssetService.getAssetWebp('info_art_1', 0)"
          media="(max-width: 480px)"
          type="image/webp"
        />
        <source
          [srcset]="this.staticAssetService.getAssetWebp('info_art_1', 1)"
          media="(min-width: 481px) and (max-width: 768px)"
          type="image/webp"
        />
        <source
          [srcset]="this.staticAssetService.getAssetWebp('info_art_1', 2)"
          media="(min-width: 769px)"
          type="image/webp"
        />
        <img
          [src]="this.staticAssetService.getAssetFallback('info_art_1')"
          alt="Info Art Image"
          class="infoImage"
        />
      </picture>
    </div>
  </div>
  <div class="section-divider"></div>
  <div
    class="infoSectionContainer d-flex flex-column flex-md-row-reverse justify-content-around align-items-center py-5"
  >
    <div class="mb-5 mb-md-0 infoTextContainer">
      <p>
        {{ "HOME.TITLE" | translate }}
        <span
          class="fst-italic"
          [innerHTML]="'INFO.SECTION_2' | translate | appNewlineToBr"
        ></span>
      </p>
    </div>
    <div class="infoImageContainer">
      <picture>
        <source
          [srcset]="this.staticAssetService.getAssetWebp('info_art_2', 0)"
          media="(max-width: 480px)"
          type="image/webp"
        />
        <source
          [srcset]="this.staticAssetService.getAssetWebp('info_art_2', 1)"
          media="(min-width: 481px) and (max-width: 768px)"
          type="image/webp"
        />
        <source
          [srcset]="this.staticAssetService.getAssetWebp('info_art_2', 2)"
          media="(min-width: 769px)"
          type="image/webp"
        />
        <img
          [src]="this.staticAssetService.getAssetFallback('info_art_2')"
          alt="Info Art Image"
          class="infoImage"
        />
      </picture>
    </div>
  </div>
  <div class="section-divider"></div>
  <div
    class="infoSectionContainer d-flex flex-column flex-md-row justify-content-around align-items-center py-5"
  >
    <div class="mb-5 mb-md-0 infoTextContainer text-md-end">
      <p>
        {{ "HOME.TITLE" | translate }}
        <span
          class="fst-italic"
          [innerHTML]="'INFO.SECTION_3' | translate | appNewlineToBr"
        ></span>
      </p>
    </div>
    <div class="infoImageContainer">
      <picture>
        <source
          [srcset]="this.staticAssetService.getAssetWebp('info_art_3', 0)"
          media="(max-width: 480px)"
          type="image/webp"
        />
        <source
          [srcset]="this.staticAssetService.getAssetWebp('info_art_3', 1)"
          media="(min-width: 481px) and (max-width: 768px)"
          type="image/webp"
        />
        <source
          [srcset]="this.staticAssetService.getAssetWebp('info_art_3', 2)"
          media="(min-width: 769px)"
          type="image/webp"
        />
        <img
          [src]="this.staticAssetService.getAssetFallback('info_art_3')"
          alt="Info Art Image"
          class="infoImage"
        />
      </picture>
    </div>
  </div>
  <div class="section-divider"></div>
  <div
    class="infoSectionContainer d-flex flex-column flex-md-row-reverse justify-content-around align-items-center py-5"
  >
    <div class="mb-5 mb-md-0 infoTextContainer">
      <p>
        {{ "HOME.TITLE" | translate }}
        <span
          class="fst-italic"
          [innerHTML]="'INFO.SECTION_4' | translate | appNewlineToBr"
        ></span>
      </p>
    </div>
    <div class="infoImageContainer">
      <picture>
        <source
          [srcset]="this.staticAssetService.getAssetWebp('info_art_4', 0)"
          media="(max-width: 480px)"
          type="image/webp"
        />
        <source
          [srcset]="this.staticAssetService.getAssetWebp('info_art_4', 1)"
          media="(min-width: 481px) and (max-width: 768px)"
          type="image/webp"
        />
        <source
          [srcset]="this.staticAssetService.getAssetWebp('info_art_4', 2)"
          media="(min-width: 769px)"
          type="image/webp"
        />
        <img
          [src]="this.staticAssetService.getAssetFallback('info_art_4')"
          alt="Info Art Image"
          class="infoImage"
        />
      </picture>
    </div>
  </div>
  <div class="section-divider"></div>
  <div
    class="infoSectionContainer d-flex flex-column flex-md-row justify-content-around align-items-center py-5"
  >
    <div class="mb-5 mb-md-0 infoTextContainer text-md-end">
      <p>
        {{ "HOME.TITLE" | translate }}
        <span
          class="fst-italic"
          [innerHTML]="'INFO.SECTION_5' | translate | appNewlineToBr"
        ></span>
      </p>
    </div>
    <div class="infoImageContainer">
      <picture>
        <source
          [srcset]="this.staticAssetService.getAssetWebp('info_art_5', 0)"
          media="(max-width: 480px)"
          type="image/webp"
        />
        <source
          [srcset]="this.staticAssetService.getAssetWebp('info_art_5', 1)"
          media="(min-width: 481px) and (max-width: 768px)"
          type="image/webp"
        />
        <source
          [srcset]="this.staticAssetService.getAssetWebp('info_art_5', 2)"
          media="(min-width: 769px)"
          type="image/webp"
        />
        <img
          [src]="this.staticAssetService.getAssetFallback('info_art_5')"
          alt="Info Art Image"
          class="infoImage"
        />
      </picture>
    </div>
  </div>
</div>
