@use 'variables' as *;

:host {
  display: block;
  width: 100%;
}

.additional-info {
  margin-top: 20px;
  width: 100%;

  .info-block {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .info-text {
    font-size: 1.1em;
    text-align: justify;
    margin: 0;
    line-height: 1.6;
  }

  .map-container {
    height: 100%;
    min-height: 300px;
    max-height: 500px;
    border-radius: 5px;
    overflow: hidden;
  }
}
