@if (course$ | async; as course) {
<div class="container-fluid d-flex flex-column align-items-center pb-4">
  @if (course.coverImagePath) {
  <img [src]="course.coverImagePath" alt="Cover Image" class="cover-image" />
  }
  <h1>{{ course.title }}</h1>
  <div class="w-75">
    <p class="description">{{ course.description }}</p>
    <div class="details">
      <p><strong>Location:</strong> {{ course.location }}</p>
      <p><strong>From:</strong> {{ course.dateFrom | date }}</p>
      <p><strong>To:</strong> {{ course.dateTo | date }}</p>
      <p><strong>Max Participants:</strong> {{ course.maxParticipants }}</p>
      <p><strong>Status:</strong> {{ course.contentStatus }}</p>
      @if (isStaticMode){
      <p>Partecipazione gratuita</p>
      <p>Iscrizione necessaria</p>
      <p>
        Per info e iscrizioni:
        <a
          href="mailto: Art Natura Teatro <info@artnaturateatro.it>?subject=Info e Iscrizione Corso {{course.title}}"
          class="email-anchor"
          >info&#64;artnaturateatro.it</a
        >
      </p>
      } @else if (course.contentStatus != 'COMPLETED') {
      <app-animated-button
        type="link"
        [routerLink]="['']"
        [text]="'Soon Available'"
      ></app-animated-button>
      }
    </div>
  </div>
  @if (course.imagePaths && course.imagePaths.length > 0 || course.videoPaths &&
  course.videoPaths.length > 0) {
  <div class="gallery text-center" #galleryContainer>
    <h2>Gallery</h2>
    <div class="row">
      @for (item of _galleryItems; track $index; let i = $index) {
      <div class="col-6 col-md-4 col-lg-3 mb-2">
        <a (click)="lightbox.openAt(i); $event.preventDefault()" class="gallery-item" style="cursor: pointer;">
          @if (item.type === 'image') {
            <img [src]="item.href" [alt]="course.title + ' Image ' + (i + 1)" class="img-fluid course-image" />
          } @else {
            <video [src]="item.href" class="video-fluid" controls></video>
          }
        </a>
      </div>
      }
    </div>
  </div>
  }
</div>
}
